<html>
	<head>
		<script src="js/jquery-2.1.4.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="css/custom.css" rel="stylesheet"></link>
		<link href="css/bootstrap-select.min.css" rel="stylesheet"></link>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.11.0/bootstrap-social.css' type='text/css'>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-cookies.min.js"></script>
		<script type="text/javascript" src="js/resourceCtrl.js"></script>
		<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="js/moment.min.js"></script>
		<script type="text/javascript" src="js/control.js"></script>
		<title>Person Manger</title>
	</head>
	<body>
		<div id="menu"></div>
		<h1 class="h1">Messages</h1>
		<br>
		<div class="row">
			<div class="col-xs-1 col-md-1 col-sm-1 col-lg-1">
			</div>
			<div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
				<div class="jumbotron">
					<p> TODO messages </p>
				</div>
				<form class="form-group">
				<label for="firstname">Send Message:</label>
				<input class="form-control" name="sender" ng-model="message.sender" placeholder="sender"/>
				<br>
				<input class="form-control" name="text" ng-model="message.text" placeholder="text"/>
				<br/>
				</form>
				
				
			</div>
		</div>
	</body>
</html>