:root {
	--usedColor: ;
}
.navbar-default {
	background-color: #0B0B61;
	font-weight: bold;
}

#delbtn {
	margin-top: -5px;
}

#addbtn {
	margin-left: 10px;
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	color: orange !important;
}

.navbar-default .navbar-nav > li > a {
   color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: orange !important;
    color: #0B0B61 !important;
}

.h1 {
	text-align: center;
	color: #0B0B61;
	padding-top: 1%;
	padding-bottom: 1%;
}

.h2 {
	text-align: center;
	color: #0B0B61;
	padding-top: 1%;
	padding-bottom: 1%;
}

.itemHead {
	background-color: #0489B1;
	border-color: #0489B1;
	color: white;
}

.itemBody {
	border-color: #0489B1;
}

.author {
	float: right;
}

.price {
	float: right;
}

.desc {
	float: right;
}

.btn-right {
	float: right;
}

.panel-heading {
	background-color: #0B0B61 !important;
	color: white !important;
	border-color: #0B0B61 !important;
}

.alert {
	margin-bottom: -20px !important;
}

.panel {
	border-color: #0B0B61 !important;
}

.clickPanel {
	cursor:pointer;
}

.count-picker {
	margin-left: 10px !important;
}

#cart {
	font-size: 18px;
}

#logoutNavBar {
	cursor:pointer;
}

html {
	overflow-x: hidden;
}

h1, h2 {
	font-family: Montserrat !important;
}

div:not(#delbtn){
	font-family: Montserrat !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

a {
	color: black;
}