:root {
	--usedColor: ;
}
.navbar-default {
	background-color: #0B0B61;
	font-weight: bold;
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	color: orange !important;
}

.navbar-default .navbar-nav > li > a {
   color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: orange !important;
    color: #0B0B61 !important;
}

.h1 {
	text-align: center;
	color: #0B0B61;
	padding-top: 10%;
	padding-bottom: 5%;
}

.max-height {
	height: 70%;
	margin-bottom: 0 !important;
	
}

.h2 {
	text-align: center;
	color: #0B0B61;
	padding-top: 1%;
	padding-bottom: 1%;
}


.btn-right {
	float: right;
}

.btn-left {
	float: left;
}

.content-center {
	text-align: center;
}

.disable-x-scroll {
	overflow-x: hidden;
}

h1, h2 {
	font-family: Montserrat !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

a {
	color: black;
}