:root {
	--usedColor: ;
}
.navbar-default {
	background-color: #0B0B61;
	font-weight: bold;
}

.navbar {
	border-radius: 0;
}

.panel-primary > .panel-account-head {
	border-color: #0B0B61;
	background-color: #0B0B61;
}

.panel-primary > .panel-overview-head {
	border-color: black;
	background-color: black;
	color: white;
}

.panel-account {
	border-color: #0B0B61;
	margin-left: 5%;
	margin-right: 5%;
}

.navbar-brand {
	color: orange !important;
}

.navbar-default .navbar-nav > li > a {
   color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: orange !important;
    color: #0B0B61 !important;
}

.h1 {
	text-align: center;
	color: #0B0B61;
	padding-top: 10%;
	padding-bottom: 5%;
	display: block;
}

.max-height {
	height: 70%;
	margin-bottom: 0 !important;
	
}

.h2 {
	text-align: center;
	color: #0B0B61;
	padding-top: 1%;
	padding-bottom: 1%;
}


.btn-right {
	float: right;
}

.btn-left {
	float: left;
}

.content-center {
	text-align: center;
}

.content-left {
	text-align: left;
}

.disable-x-scroll {
	overflow-x: hidden;
}

h1, h2 {
	font-family: Montserrat !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

a {
	color: black;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}